
header {
    text-align: center;
    margin: 10% 20%;
    border: blue 2px solid;
    width: 60%;
}




.short-div {
    border: black solid 2px;
}

.selected-city {
    margin-bottom: 10px;
    padding-bottom: 200px;
}

.five-day {
    padding-bottom: 100px;
}

.cards {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}

.card-one {
    border: red 2px solid;
    padding: 80px 50px;
}
.card-two {
    border: red 2px solid;
    padding: 80px 50px;
}
.card-three {
    border: red 2px solid;
    padding: 80px 50px;
}
.card-four {
    border: red 2px solid;
    padding: 80px 50px;
}
.card-five {
    border: red 2px solid;
    padding: 80px 50px;
}


.cities {
    border: green 2px solid;
    text-align: center;
}

.input {
    border: none;
    background-color: rgba(128, 128, 128, 0.267);
    text-align: center;
}