
header {
    text-align: center;
    margin: 10% 20%;
    border: blue 2px solid;
    width: 60%;
}




.short-div {
    border: black solid 2px;
}

.selected-city {
    margin-bottom: 10px;
    padding-bottom: 100px;
}

.five-day {
    padding-bottom: 100px;
}

.cards {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}

.card-one-through-five {
   border: rgb(7, 7, 201) solid 2px;
   background: rgba(0, 0, 255, 0.466) ;
   padding: 30px 0px;
}


.cities {
    border: green 2px solid;
    text-align: center;
}

.cities-list {
    display:flex;
    flex-direction: column;
}

.input {
    border: none;
    background-color: rgba(128, 128, 128, 0.267);
    text-align: center;
    margin-top: 60px;
}

.history {
    margin: 20px 0px;
    padding-top: 25px;
}